.detail-section {
    display: flex;
    flex-direction: column;
    background-color: #DED7B3ff;
    align-items: start;
    text-align: center;
    padding-top: 30px;
}

.back-icon {
    margin-left: 100px;
    margin-bottom: 10px;
}

.back{
    width: 100px;
}

.icon-back {
    display: flex;

    color:#DED7B3ff;
}

.icon-back p {
    margin-right: 5px;
}

.detail-product {
    display: flex;
    justify-content: center;
}

.detail-img {
    margin-left: 100px;
    border-radius: 2%;
}

.detail-textBox {
    display: flex;
    flex-direction: column;
}

.detail-text {
    margin-right: 100px;
    border: 1px #fff solid;
    border-radius: 10%;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.detail-title {
    font-weight: bold;
}

.detail-price {
    font-weight: bold;
}

.detail-detail {
    margin-left: 60px;
    margin-right: 30px;
    text-align: justify;
}

.detail-credit {
    width: 600px;
    height: 150px;
    margin-right: 100px;
    border: 1px #fff solid;
    border-radius: 3%;
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 8px;
    background-color: #fff;
}

.detail-fees {
    display: flex;
    align-items: center;
}

#form-fees {
    width: 250px;
    margin-top: 20px;
}

.fees {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
}

.detail-descriptionBox {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

.detail-descriptionTitle {
    text-align: left;
}

.item-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 10px;
}

.quantity-product {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px #DF9D72ff solid;
    border-radius: 10px;
    padding-top: 10px;
}

.value {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
    font-size: 0.8rem;
}