/* Coolors Exported Palette - https://coolors.co/2f7864-d4cdb1-dfd0a5-df9d72-1f705d-ded7b3-5e927a-d7d5b2-ded8b4-ded8b1 */

/* CSS HEX */
--viridian: #2F7864ff;
--pearl: #D4CDB1ff;
--dutch-white: #DFD0A5ff;
--buff: #DF9D72ff;
--pine-green: #1F705Dff;
--dutch-white-2: #DED7B3ff;
--viridian-2: #5E927Aff;
--pearl-2: #D7D5B2ff;
--dutch-white-3: #DED8B4ff;
--dutch-white-4: #DED8B1ff;

/* CSS HSL */
--viridian: hsla(164, 44%, 33%, 1);
--pearl: hsla(48, 29%, 76%, 1);
--dutch-white: hsla(44, 48%, 76%, 1);
--buff: hsla(24, 63%, 66%, 1);
--pine-green: hsla(166, 57%, 28%, 1);
--dutch-white-2: hsla(50, 39%, 79%, 1);
--viridian-2: hsla(152, 22%, 47%, 1);
--pearl-2: hsla(57, 32%, 77%, 1);
--dutch-white-3: hsla(51, 39%, 79%, 1);
--dutch-white-4: hsla(52, 41%, 78%, 1);

/* SCSS HEX */
$viridian: #2F7864ff;
$pearl: #D4CDB1ff;
$dutch-white: #DFD0A5ff;
$buff: #DF9D72ff;
$pine-green: #1F705Dff;
$dutch-white-2: #DED7B3ff;
$viridian-2: #5E927Aff;
$pearl-2: #D7D5B2ff;
$dutch-white-3: #DED8B4ff;
$dutch-white-4: #DED8B1ff;

/* SCSS HSL */
$viridian: hsla(164, 44%, 33%, 1);
$pearl: hsla(48, 29%, 76%, 1);
$dutch-white: hsla(44, 48%, 76%, 1);
$buff: hsla(24, 63%, 66%, 1);
$pine-green: hsla(166, 57%, 28%, 1);
$dutch-white-2: hsla(50, 39%, 79%, 1);
$viridian-2: hsla(152, 22%, 47%, 1);
$pearl-2: hsla(57, 32%, 77%, 1);
$dutch-white-3: hsla(51, 39%, 79%, 1);
$dutch-white-4: hsla(52, 41%, 78%, 1);

/* SCSS RGB */
$viridian: rgba(47, 120, 100, 1);
$pearl: rgba(212, 205, 177, 1);
$dutch-white: rgba(223, 208, 165, 1);
$buff: rgba(223, 157, 114, 1);
$pine-green: rgba(31, 112, 93, 1);
$dutch-white-2: rgba(222, 215, 179, 1);
$viridian-2: rgba(94, 146, 122, 1);
$pearl-2: rgba(215, 213, 178, 1);
$dutch-white-3: rgba(222, 216, 180, 1);
$dutch-white-4: rgba(222, 216, 177, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);
$gradient-right: linear-gradient(90deg, #2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);
$gradient-bottom: linear-gradient(180deg, #2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);
$gradient-left: linear-gradient(270deg, #2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);
$gradient-top-right: linear-gradient(45deg, #2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);
$gradient-bottom-right: linear-gradient(135deg, #2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);
$gradient-top-left: linear-gradient(225deg, #2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);
$gradient-bottom-left: linear-gradient(315deg, #2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);
$gradient-radial: radial-gradient(#2F7864ff, #D4CDB1ff, #DFD0A5ff, #DF9D72ff, #1F705Dff, #DED7B3ff, #5E927Aff, #D7D5B2ff, #DED8B4ff, #DED8B1ff);