.container-greeting {
    width: 100%;
    background-image: url(../../assets/img/home-color.png);
    background-size: cover;
    margin: auto;
    display: table;
}

.greeting-home {
    font-size: 1.9rem;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-left: 20px;
    margin-top: 50px;
    float: left;
    position: relative;
}

.greeting-home span {
    position: absolute;
    right: 0;
    width: 10;
    background: #DF9D72ff;
    animation: maquina 5s infinite alternate steps(130)
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}


