.container-greeting {
    width: 100%;
    background-image: url(../../assets/img/home-color.png);
    background-size: cover;
    margin: auto;
    display: table;
}

.greeting-home {
    font-size: 1.9rem;
    font-weight: bold;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-left: 280px;
    float: left;
    position: relative;
}

.greeting-home span {
    position: absolute;
    right: 0;
    width: 10;
    background: #DF9D72ff;
    border-left: 1px solid #000;
    animation: maquina 5s infinite alternate steps(130)
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}


