.navbar {
    height: 100%;
    background-color: #DF9D72ff;
}

.container-fluid {
    background-color: #DF9D72ff;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.collapse {
    background-color:#DF9D72ff;
    height: 100%;
    text-align: right;
    position: relative;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    margin-left: 150px;
}


.nav-item {
    color:#DED7B3ff;
}

.menu {
    color:#fff;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.menu:hover {
    color: #2F7864ff;
    font-weight: bold;
}


@media screen and (max-width: 1080px) {
    .navbar-nav {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1060px) {
    .navbar-nav {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1015px) {
    .navbar-nav {
        margin-left: 30px;
    }
}

@media screen and (max-width: 400px) {
    .navbar-nav {
        margin-left: 150px;
    }
}

