.navbar {
    height: 100%;
    background-color: #DF9D72ff;
}

.container-fluid {
    background-color: #DF9D72ff;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.collapse {
    background-color: #DF9D72ff;
    height: 100%;
    position: relative;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    list-style-type: none;
}

.nav-item {
    color: #DED7B3ff;
}

.menu {
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.menu:hover {
    color: #2F7864ff;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        text-align: end;
    }
}