.container-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    background-color: #DED7B3ff;
}

.container-link {
    position: relative;
    display: flex;
    align-items: center;
    width: 0;
    height: 0;
    border-left: 200px solid #DF9D72ff;
    border-top: 100px solid #5E927Aff;
    border-bottom: 100px solid #d9534f;
}

.link-home {
    position: absolute;
    top: 45px;
    right: 10px;
    background-color: #1F705Dff;
    color: #D4CDB1ff;
    opacity: 0.9;
}

